<% if (title) { %>
    <h1>Account Management</h1>
<% } else {
      res.redirect('/')
} %>

<!-- Flash Message Section -->
<%- messages() %> 

<input type="hidden" name="inv_id"
<% if(account_id) { %> value="<%= account_id %>"
<% } %>>

<%- profileViewData %>