<% const d = new Date()
let year = d.getFullYear() %>

<footer>
  <p class="copyright"> &copy; <%= year %>, CSE 340 App</p>
  <a href="/500?status=500" title="Error Page">Error Link</a>
  <script src="/js/script.js"></script>
</footer>