
<span>
    <h2>Welcome to CSE Motors!</h2>
</span>

<section class="hero">
    <img src="images/vehicles/delorean.jpg" alt="car image">

    <div class="action-box">
        <h3>DMC Delorean</h3>
        <p>
            3 Cup holders <br>
            Sperman doors  <br>
            Fuzzy Dice!
        </p>
        <button>Own Today</button>
    </div>
</section>

<section class="items">
    <h3 class="title-sim">Delorean Upgrades</h3>
    <div class="updates">
        <div class="upgrade">
            <img src="images/upgrades/bumper_sticker.jpg" alt="bumper">
            <p>Bumper Stickers</p>
        </div>
        <div class="upgrade">
            <img src="images/upgrades/flux-cap.png" alt="flux capacitor">
            <p>Flux Capacitor</p>
        </div>
        <div class="upgrade">
            <img src="images/upgrades/hub-cap.jpg" alt="hub caps">
            <p>Hub Caps</p>
        </div>
        <div class="upgrade">
            <img src="images/upgrades/flame.jpg" alt="flame">
            <p>Flame Decals</p>
        </div>
    </div>

    <div class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost travelling time (4/5)"</li>
            <li>"Coolest ride on the road. (4/5)"</li>
            <li>"I'm feeling McFly! (5/5)"</li>
            <li>"The most futuristic ride of our day. (4.5/5)"</li>
            <li>"80's livin and I love it! (5/5)"</li>
        </ul>
    </div>
</section>