<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<%- messages() %>

<section class="inventory-management">
    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items.</p>
    <%- classificationSelect %>

    <br> <br>
    <table id="inventoryDisplay"></table>
    <br>
    <ul>
        <!-- MVC Links (Route to controller actions, not views directly) -->
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    </ul>
</section>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>