<%- message %> 

<p>The next 404 error page is the one for this website. 
    The page features a “broken” version of the home page with 
    broken glass covering the full screen and a message stating 
    “Congrats. You broke it. <a href="/">homepage</a>?
</p>

